@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts Imported */ 

/* Fancy Cursive */ 
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
/* Paintbrush casual cursive */
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
/* Handwritten Text */
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: visible; 
    background-color: teal;
}

.notebook-img {
    display: block;
    object-fit: cover;
    max-width:50vw;
    max-height:900px;
    width: auto; 
    height: auto;
    filter: drop-shadow(20px 15px 10px rgba(1,1,1,.5));
}

.page {
    position: relative;
    width: 550px;
    height: 657px;
    background-position: center;
    background-image: url("./assets/images/page.png");
    background-size: cover;
    padding: "0px 30px 0px 60px";
    filter: drop-shadow(20px 15px 10px rgba(1,1,1,.5));
}

.sticker-shadow {
    filter: drop-shadow(2px 2px 1px rgba(1,1,1,.2));
}

.hover-highlight {
    /* background-color: blue; */
}

#notebook-title {
    color: teal;
    position: absolute;
    z-index: 10;
    bottom: 64%;
}

@media screen and (max-width: 600px) {
    .page {
        width: 350px;
        height: 418px;
        background-image: url("./assets/images/page-small.png");
        padding: "0px 15px 0px 30px";
    }
}